$base-color: hsl(var(--accent));
$second-color: hsl(var(--accent1));
$bg-color: hsl(var(--bg));
$bg2-color: hsl(var(--bg2));
$text-color: hsl(var(--txt));
$companies-tcs: hsl(var(--companies-tcs));
$companies-t1d1: hsl(var(--companies-t1d1));
$companies-mantechapps: hsl(var(--companies-mantechapps));
$companies-cc: hsl(var(--companies-cc));
$companies-tdh: hsl(var(--companies-tdh));


.map-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
