$base-color: hsl(var(--accent));
$text-color: hsl(var(--txt));

.skills-page {
  display: flex;
  flex-direction: column;
  color: $base-color;
  justify-content: center;
  align-items: center;
  path {
    fill: none;
  }

  text {
    font-size: 15px;
    -o-table-baseline: bottom;
    text-anchor: start;
  }

  rect {
    fill: none;
    height: 30px;
    display: block;
    margin: 0 auto;
  }
}
