$base-color: hsl(var(--accent));
$text-color: hsl(var(--txt));

.home-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  h1 {
    color: $base-color;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-weight: 400;
    font-family: var(--font-playwrite), serif;
  }

  h3 {
    color: $text-color;
    font-size: 36px;
    line-height: 1.5;
    margin: 0;
    font-weight: 300;
  }

  .flat-button { width: fit-content; }

  .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 12px;
  }

  .box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

@media (min-width: 1280px) {
  .home-page {
    overflow: scroll;
    height: 95vh !important;
    padding: 0 0 0 92px;

    .box2 { height: 100%; }
  }
}

@media (max-width: 1279px) {
  .home-page {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .box2 {
    width: 100%;
    height: 450px;
    justify-content: center;
    margin: 0;
  }
}
